{% extends 'base.html' %} {% block content %}
<section class="account__wrapper">
    <!-- navigation menu -->
    <div class="navigation__menu">
        <div class="account__name__menu">
            <a href="{% url 'account' %}" class="menu__name">
                <i class="fa-solid fa-certificate"></i>
                <span>Overview</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
        <div class="account__name__menu">
            <a href="{% url 'profile' %}" class="menu__name">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
        <div class="account__name__menu">
            <a href="{% url 'inbox' %}" class="menu__name">
                <i class="fa-solid fa-envelope"></i>
                <span>Inbox</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
        <!-- <div class="account__name__menu">
            <a href="" class="menu__name">
                <i class="fa-solid fa-location-crosshairs"></i>
                <span>Address</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr /> -->
        <div class="account__name__menu">
            <a href="{% url 'orders' %}" class="menu__name">
                <i class="fa-solid fa-box"></i>
                <span>Orders</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
        <div class="account__name__menu">
            <div class="menu__name">
                <i class="fa-solid fa-toggle-on"></i>
                {% if user.is_authenticated %}
                <a class="menu__name_auth" href="{% url 'logout' %}">Log out</a>
                <hr />
                {% else %}
                <a class="menu__name_auth" href="{% url 'login' %}">Log in</a>
                {% endif %}
            </div>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
    </div>
    <!-- Account Details -->
    <div class="accounthide__mobile">
        <div class="account__details">
            {% if user.is_authenticated %}
            <p class="account__username">Hello,{{user.username}}</p>
            <p class="account__email">Signed in as: <span>{{user.email}}</span></p>
            {% else %}
            <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
        <hr />
        <div>
            <div>
                <a class="overview__header" href="{% url 'inbox' %}">Recent Message</a>
                <p class="overview__detail__info">{{last_message.message}}</p>
            </div>
            <a class="overview__header" href="{% url 'orders' %}">Recent Order</a>
            <div class="account__order">
                <div>
                    <div>
                        <h5 class="accountoder__header">Date Placed</h5>
                        <p class="account__detail">{{ last_order.created_at }}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <h5 class="accountoder__header">Order Number</h5>
                        <p class="account__detail">{{ last_order.order_id }}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <h5 class="accountoder__header">Total amount</h5>
                        <p class="account__detail">GH₵{{ last_order.total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}