{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="password__reset">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <legend class="border-bottom mb-4 legend__heading">Enter your email to reset password</legend>
            {{ field|as_crispy_field }}
            {% if field.errors %}
            {% for error in field.errors %}
            <p class="error-message">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button class="form__submit" type="submit">Reset Password</button>
    </form>
</section>
{% endblock %}