{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="passowrd__reset__confirm__form">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                <div class="invalid-feedback">
                    {% for error in form.new_password1.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                <div class="invalid-feedback">
                    {% for error in form.new_password2.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error:</strong>
                {% for field in form %}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </fieldset>
        <div class="form-group">
            <button class="form__submit" type="submit">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}