@media (max-width: 320px) {
  .cart__items_list img {
    margin-right: 0.5rem;
    width: 90px !important;
    height: 80px !important;
    object-fit: cover;
  }

  .nav {
    margin: 0.4rem 0rem;
    padding: 0.2rem 0rem;
  }

  .fa-solid {
    font-size: 1rem;
  }

  .fa-bars {
    padding: 0.2rem;
  }

  .logo {
    font-size: 1rem;
  }

  .cart__manipulation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    gap: 2rem;
    margin-right: 1rem;
  }
}

@media (max-width: 425px) {
  .nav {
    margin: 1rem 0rem;
    padding: 0.5rem 2rem;
  }

  .sidenav__mobile {
    width: 100% !important;
  }

  .sidenav .sidenav__user p {
    padding: 4px 5px;
    margin: 0;
    font-size: 2.5rem;
  }

  .cart__items_list {
    width: 100%;
  }

  .cart__item_details {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 1rem;
    margin-right: 1rem !important;
  }

  .cart__item_details h3 {
    margin-left: 0rem !important;
  }

  .cart__button > * {
    margin-left: 0.5rem;
  }
  .cart__item__info {
    margin-left: 1rem;
  }

  .hide__desktop {
    display: block;
  }

  .hide__mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav {
    margin: 1rem 1rem;
  }

  .sidenav__mobile {
    width: 90%;
  }

  .cart__item_details {
    margin-right: 17rem;
  }

  .cart__item_details h3 {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .cart__manipulation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    gap: 8rem;
    margin-right: 0rem;
  }
}

/* CSS for screens with a maximum width of 768px to 991px */
@media (max-width: 991px) {
}
/* CSS for screens with a maximum width of 992px to 1199px */
@media (max-width: 1199px) {
}
/* CSS for screens with a maximum width of 1200px to 1599px */
@media (max-width: 1599px) {
}
