@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr; */
  }
}
/* CSS for screens with a maximum width of 768 pixels */
@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
/* CSS for screens with a maximum width of 425 pixels */
@media (max-width: 425px) {
  .products {
    grid-template-columns: 1fr;
  }
}
/* CSS for screens with a maximum width of 320 pixels */
@media (max-width: 320px) {
  .products {
    margin: 4rem 1rem 0rem 1rem;
  }
}
