{% extends 'base.html' %}

{% block content %}
<section class="product__wrapper">
    <article class="categories shadow">
        <h2>Categories</h2>
        {% for main_category in main_categories %}
        <button class="category_button">{{main_category.name}} <i class="fas fa-arror"></i> </button>
        <div class="sub_categories">
            {% for categories in main_category.sub_categories.all %}
            <a href="{% url 'category_product' categories.name %}">{{categories.name}}</a>
            {% endfor %}
        </div>
        {% endfor %}
    </article>
    <article>
        <article class="categories__mobile shadow">
            <button id="cate_hide" class="categories__header">
                <h2>Categories</h2>
                <i class="fa-solid fa-chevron-right"></i>
            </button>
            <div id="cate_hide_" class="category__name">
                {% for category in categories %}
                <a href="{% url 'category_product' category.name %}">{{category.name}}</a>
                {% endfor %}
            </div>
        </article>
        <h1 style="font-size: 1rem; color: var(--primary-color);font-weight: 300; margin-left: 1rem;">{{product_total}}
            product found</h1>
        <article class="products">
            {% for category_product in category_products%}
            <div class="product shadow">
                {% comment %}
                <img src="{{category_product.product_image}}" />
                {% endcomment %}
                <img src="{{category_product.product_image.url}}" />
                <h3 class="price__tag">
                    GHS{{category_product.price}}
                </h3>
                <div class="product__name">
                    <h3>
                        {{category_product.name|truncatechars:50}}
                    </h3>
                </div>
                <div class="product__action">
                    <button data-product-id="{{ category_product.id }}" type="button" class="add-to-cart-btn">Add to
                        Cart <i class="fa-solid fa-cart-shopping"></i></button>
                    <a href="{% url 'product_detail' category_product.id %}">Go to Details</a>

                </div>
            </div>
            {% endfor %}
        </article>
        <article style="margin-top: 2rem;margin-left: 1.5rem;">

            {% if category_products.has_previous %}
            <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-secondary mb-4"
                href="?page={{ category_products.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in category_products.paginator.page_range %}
            {% if category_products.number == num %}
            <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > category_products.number|add:'-3' and num < category_products.number|add:'3' %} <a
                class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}

                {% if category_products.has_next %}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ category_products.next_page_number }}">Next</a>
                <a class="btn btn-outline-secondary mb-4"
                    href="?page={{ category_products.paginator.num_pages }}">Last</a>
                {% endif %}


        </article>
    </article>
</section>
{% endblock %}