{% extends 'base.html' %}

{% block content %}
<section class="check__out__wrapper">
    <div class="term__conditions">
        <p>By proceeding, you are automatically accepting the</p><a href="">Terms & Conditions</a>
    </div>
    <p class="summary__header">Order Summary</p>
    <!-- payment details -->
    <div class="payement__details">
        <div>
            <p>Item's total(1)</p>
            <p>GHC 100.00</p>
        </div>
        <div>
            <p>Delivery fees</p>
            <p>GHC 30.00</p>
        </div>
        <hr />
        <div>
            <p>Total</p>
            <p>GHC 111.48</p>
        </div>
        <hr />
    </div>
    <!-- paystack -->
    <!-- Customer Address -->
    <form action="">

    </form>

</section>
{% endblock content %}