{% extends 'base.html' %}

{% block content %}
<section class="detail">
    <div>
        <a class="back__button" href="{% url 'product_home' %}" target="_parent" rel="noopener noreferrer">
            <i class="fa-solid fa-arrow-left-long"></i> Go Back
        </a>
        <img class="shadow" src="{{product.image_url}}" alt="" srcset="">
    </div>
    <div class="product__detail">
        <h4>{{product.name}}</h4>
        <p>{{product.description}}</p>
        <h5>GHC {{product.price}}</h5>
        <button data-product-id="{{product.id}}" class="shadow" id="detail__add" type="button">ADD TO CART</button>
    </div>
</section>
{% endblock %}