{% extends 'base.html' %} {% block content %}
<section class="account__wrapper">
    <!-- navigation menu -->
    <div class="navigation__menu profile_">
        <div class="account__name__menu">
            <a href="{% url 'account' %}" class="menu__name">
                <i class="fa-solid fa-certificate"></i>
                <span>Overview</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
        <div class="account__name__menu">
            <a href="{% url 'profile' %}" class="menu__name">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
        <div class="account__name__menu">
            <a href="{% url 'inbox' %}" class="menu__name">
                <i class="fa-solid fa-envelope"></i>
                <span>Inbox</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
        <div class="account__name__menu">
            <a href="" class="menu__name">
                <i class="fa-solid fa-box"></i>
                <span>Orders</span>
            </a>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
        <div class="account__name__menu">
            <div class="menu__name">
                <i class="fa-solid fa-toggle-on"></i>
                {% if user.is_authenticated %}
                <a class="menu__name_auth" href="{% url 'logout' %}">Log out</a>
                <hr />
                {% else %}
                <a class="menu__name_auth" href="{% url 'login' %}">Log in</a>
                {% endif %}
            </div>
            <a href="">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <hr />
    </div>
    <!-- Account Details -->
    <div>
        <div class="account__name__menu hide_mobile">
            <a href="{% url 'account' %}" class="menu__name">
                <!-- <i class="fa-solid fa-chevron-left"></i> -->
                <span>← Account</span>
            </a>
        </div>
        <h1 class="inbox__header">Orders</h1>
        <hr />
        {% for order in orders %}

        <a href="{% url 'order_detail' order.id %}">
            <h5 class="order__id">#{{ order.order_id}}</h5>
        </a>
        <div class="order__details">
            <p>{{ order.created_at|date:"F d,Y:H:i" }}</p>
            <p>{{order.total_price|floatformat:2}}</p>
            <p>{{ order.total_quantity }} item(s)</p>
        </div>
        <div class="order__items">
            {% for order_item in order.orderitem_set.all %}
            <div>
                <div class="order__image">
                    <img src="{{ order_item.product.product_image.url }}" alt="{{ order_item.product.name }}">
                </div>
                <div class="orderproduct__detail">
                    <p>{{ order_item.product.name|truncatechars:70 }}</p>
                    <p class="font__weight">x{{ order_item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="order__button">
            <button class="orderdetail__button">
                <a href="{% url 'order_detail' order.id %}">See details</a>
            </button>
        </div>
        <hr />
        {% endfor %}
    </div>
</section>
{% endblock content %}