{% load static %}
<nav class="nav__bar shadow">
  <!-- logo -->
  <div class="logo">
    <a href="{% url 'product_home' %}">
      <img src="{% static 'img/logo.png' %}" alt="logo" />
    </a>
  </div>
  <!-- search input -->
  <div class="search__product">
    <input type="search" placeholder="Search for product..." />
    <button class="search__button">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <!-- user -->
  <div class="user__detail">
    {% if user.is_authenticated %}
    <button class="auth__div">
      <i class="fa-solid fa-user"></i>
      <p class="auth__name">Hello, {{ user.username }}</p>
    </button>
    {% else %}
    <div class="auth__div">
      <p class="auth__name">Hello </p>
    </div>
    {% endif %}
  </div>
  <!--  add to cart -->
  <div class="cart__section">
    <button class="cart__button cart">
      <i class="fa-solid fa-basket-shopping"></i>
      <span>10</span>
    </button>
    <button class="cart__button">
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
  </div>
</nav>